.board{
    width: calc((64px + 4px) * 10);
    max-height: calc((64px + 5px + 5px)* 13);
    height: calc((64px + 4px) * 10);

}

.side-content{
    border: solid black;
    width: 10%;
    height: 820px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    flex-wrap: wrap;
}

.TestCTA, .enigma {
    display:none;
}

.handler-board {
    background-color: none;
    border: solid;
    height: 820px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}