.dice{
    width : 128px;
    height: 128px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 0.3em;
    box-shadow: 2px 2px 5px;
    background-color: rgb(197, 50, 50);
}

.handle-dice{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 380px;
}

.result{
    width : 64px;
    height: 64px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 0.3em;
    box-shadow: 2px 2px 5px;
    background-color: rgb(50, 197, 82);
}