html {
    background-image: url("vrai-body.jpg");
    background-size: cover;
}

.logo {
  
    margin-top: 1.5%;
    text-align: center
}

.title{
    color: rgb(243, 209, 209);
    font-weight: bold;
    margin-top: -1%;
    margin-bottom: 3%;
    text-align: center;

}

.playCTAContainer{
    margin-top:17%;
    text-align: center;
    color: rgb(54, 235, 154);

}

.playCTA:disabled{
    width: 170px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bolder;
    background-image: url("desabledPlay-cta2");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    opacity: 0.5;
    font-weight: bold;

}



.playCTA:enabled{
    width: 170px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bolder;
    background-image: url('boutPlay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    opacity: 0.9;
    cursor: pointer;  
    font-weight: bolder;

}





.playCTA:enabled:hover{
    width: 170px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bolder;
    font-weight: bolder;
    background-image: url('boutPlay.jpg');
    border-radius: 2%;
    opacity: 1;
    cursor: pointer;  

}



.selectPlayerContainer {
    border-color: red;
    border-style: dotted;
    height:300px;
}

.checkboxesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
}


/*checkboxe Player1*//*checkboxe Player1*//*checkboxe Player1*//*checkboxe Player1*/
/*checkboxe Player1*//*checkboxe Player1*//*checkboxe Player1*//*checkboxe Player1*/

form p {
	position: relative; /* permet de positionner la checkbox cachée */
}

[type="checkbox"]#player1:not(:checked), 
[type="checkbox"]#player1:checked {
	/* Cache la checkbox sans
	   la désactiver pour les
	   lecteurs d'écran */
	position: absolute;
	left: 0;
    opacity: 0.01;
    margin-left:-20px;
}

/* on prépare le label */
[type="checkbox"]#player1:not(:checked) + label,
[type="checkbox"]#player1:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	font-size: 1.05em; /* Label un peu plus gros */
    cursor: pointer;    /* affiche un curseur adapté */
  
}

/* Aspect de la case */
[type="checkbox"]#player1:not(:checked) + label:before,
[type="checkbox"]#player1:checked + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15em;
	height: 22em;
    background-image: url('back-3.png');
    background-size: cover;
	border-radius: .2em;
    transition: all .275s;

}




/* Aspect de la coche */
[type="checkbox"]#player1:not(:checked) + label:after,
[type="checkbox"]#player1:checked + label:after {
	content: '✕';
	position: absolute;
	top: 4.6em;
	left: 1.8em;
	font-size: 4em;
	color: #181bc691;
	line-height: 0;
    z-index:3;
   
}


/* Aspect de la coche: hover */
[type="checkbox"]#player1:not(:checked) + label:after,
[type="checkbox"]#player1:checked + label:after {
	content: '✕';
	position: absolute;
	top: 5.3em;
	left: 1.6em;
	font-size: 3.8em;
	color: #c65e18;
	line-height: 0;
    z-index:3;
   
}

/* Aspect non cochée */
[type="checkbox"]#player1:not(:checked) + label:after {
    content: 'CHOISIR';
    color: #c65e18ad;
    font-size: 1.3em;
    top: 15.5em;
    left: 4em;
    font-weight: bolder;
    text-align: center;
}

/* Aspect non cochée:hover */
[type="checkbox"]#player1:not(:checked) + label:hover:after {
    content: 'CHOISIR';
    color: #c65e18;
    font-size: 1.3em;
    top: 15.5em;
    left: 4em;
    font-weight: bolder;
    text-align: center;

}

/* Aspect cochée */
[type="checkbox"]#player1:checked + label:after {
	opacity: 1;
    color: #c65e18ad;  
    
}

/* Aspect cochée:hover */
[type="checkbox"]#player1:checked + label:hover:after {
	opacity: 1;
    color: #c65e18;  
    
}



/* Disabled checkbox */
[type="checkbox"]#player1:disabled:not(:checked) + label:before,
[type="checkbox"]#jplayer1:disabled:checked + label:before {
    box-shadow: none;
    transform:  rotate(0);
}



/* Accessibility focus */
[type="checkbox"]#player1:checked + label:before {
	box-shadow: inset 0 10px 10px rgba(0,0,0, .2), 0 0 0 12px #c65e18;
}




/*checkboxe Player2*//*checkboxe Player2*//*checkboxe Player2*//*checkboxe Player2*/
/*checkboxe Player2*//*checkboxe Player2*//*checkboxe Player2*//*checkboxe Player2*/

form p {
	position: relative; /* permet de positionner la checkbox cachée */
}

[type="checkbox"]#player2:not(:checked), 
[type="checkbox"]#player2:checked {
	/* Cache la checkbox sans
	   la désactiver pour les
	   lecteurs d'écran */
	position: absolute;
	left: 0;
	opacity: 0.01;
}

/* on prépare le label */
[type="checkbox"]#player2:not(:checked) + label,
[type="checkbox"]#player2:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	font-size: 1.05em; /* Label un peu plus gros */
    cursor: pointer;    /* affiche un curseur adapté */
   
}

/* Aspect de la case */
[type="checkbox"]#player2:not(:checked) + label:before,
[type="checkbox"]#player2:checked + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15em;
	height: 22em;
    background-image: url('back-3.png');
    background-size: cover;
	border-radius: .2em;
    transition: all .275s;
    color: red;
}




/* Aspect de la coche */
[type="checkbox"]#player2:not(:checked) + label:after,
[type="checkbox"]#player2:checked + label:after {
	content: '✕';
	position: absolute;
	top: 4.6em;
	left: 1.9em;
	font-size: 4em;
	color: #181bc691;
	line-height: 0;
    z-index:3;
   
}


/* Aspect de la coche: hover */
[type="checkbox"]#player2:not(:checked) + label:after,
[type="checkbox"]#player2:checked + label:after {
	content: '✕';
	position: absolute;
	top: 5.3em;
	left: 1.6em;
	font-size: 3.8em;
	color: #00B0F0;
	line-height: 0;
    z-index:3;
  
   
}

/* Aspect non cochée */
[type="checkbox"]#player2:not(:checked) + label:after {
    content: 'CHOISIR';
    color: rgba(0, 176, 240, 0.616);
    font-size: 1.3em;
    top: 15.5em;
    left: 3.7em;
    font-weight: bolder;
  

}

/* Aspect non cochée:hover */
[type="checkbox"]#player2:not(:checked) + label:hover:after {
    content: 'CHOISIR';
    color: #00B0F0;
    font-size: 1.3em;
    top: 15.5em;
    left: 3.7em;
    font-weight: bolder;


}

/* Aspect cochée */
[type="checkbox"]#player2:checked + label:after {
	opacity: 1;
    color: rgba(0, 176, 240, 0.527);  
    
}

/* Aspect cochée:hover */
[type="checkbox"]#player2:checked + label:hover:after {
	opacity: 1;
    color: #00B0F0;  
    
}



/* Disabled checkbox */
[type="checkbox"]#player2:disabled:not(:checked) + label:before,
[type="checkbox"]#player2:disabled:checked + label:before {
    box-shadow: none;
    transform:  rotate(0);
}




/* Accessibility focus */
[type="checkbox"]#player2:checked + label:before {
    box-shadow: inset 0 10px 10px rgba(0,0,0, .2), 0 0 0 12px #00B0F0;
}




/*checkboxe Player3*//*checkboxe Player3*//*checkboxe Player3*//*checkboxe Player3*/
/*checkboxe Player3*//*checkboxe Player3*//*checkboxe Player3*//*checkboxe Player3*/

form p {
    position: relative; /* permet de positionner la checkbox cachée */

   
}

[type="checkbox"]#player3:not(:checked), 
[type="checkbox"]#player3:checked {
	/* Cache la checkbox sans
	   la désactiver pour les
	   lecteurs d'écran */
	position: absolute;
	left: 0;
    opacity: 0.0;
    display: none;
}

/* on prépare le label */
[type="checkbox"]#player3:not(:checked) + label,
[type="checkbox"]#player3:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	font-size: 1.05em; /* Label un peu plus gros */
    cursor: pointer;    /* affiche un curseur adapté */
 
}

/* Aspect de la case */
[type="checkbox"]#player3:not(:checked) + label:before,
[type="checkbox"]#player3:checked + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15em;
	height: 22em;
    background-image: url('back-3.png');
    background-size: cover;
	border-radius: .2em;
    transition: all .275s;
    color: red;
}




/* Aspect de la coche */
[type="checkbox"]#player3:not(:checked) + label:after,
[type="checkbox"]#player3:checked + label:after {
	content: '✕';
	position: absolute;
	top: 5.6em;
	left: 1.8em;
	font-size: 3.8em;
	color: #181bc691;
	line-height: 0;
    z-index:3;
   
}


/* Aspect de la coche: hover */
[type="checkbox"]#player3:not(:checked) + label:after,
[type="checkbox"]#player3:checked + label:after {
	content: '✕';
	position: absolute;
	top: 5.03em;
	left: 1.5em;
	font-size: 4em;
	color: #47C092;
	line-height: 0;
    z-index:3;
   
}

/* Aspect non cochée */
[type="checkbox"]#player3:not(:checked) + label:after {
    content: 'CHOISIR';
    color: rgba(71, 192, 146, 0.596);
    font-size: 1.3em;
    top: 15.4em;
    left: 3.7em;
    font-weight: bolder;

}

/* Aspect non cochée:hover */
[type="checkbox"]#player3:not(:checked) + label:hover:after {
    content: 'CHOISIR';
    color: #47C092;
    font-size: 1.3em;
    top: 15.4em;
    left: 3.7em;
    font-weight: bolder;

}

/* Aspect cochée */
[type="checkbox"]#player3:checked + label:after {
	opacity: 1;
    color:  rgba(71, 192, 146, 0.644); 
    
}

/* Aspect cochée:hover */
[type="checkbox"]#player3:checked + label:hover:after {
	opacity: 1;
    color: #47C092;  
    
}



/* Disabled checkbox */
[type="checkbox"]#player3:disabled:not(:checked) + label:before,
[type="checkbox"]#player3:disabled:checked + label:before {
    box-shadow: none;
    transform:  rotate(0);
}




/* Accessibility focus */
[type="checkbox"]#player3:checked + label:before {
    box-shadow: inset 0 10px 10px rgba(0,0,0, .2), 0 0 0 12px #47C092;
}


/*checkboxe Player4*//*checkboxe Player4*//*checkboxe Player4*//*checkboxe Player4*/
/*checkboxe Player4*//*checkboxe Player4*//*checkboxe Player4*//*checkboxe Player4*/

form p {
    position: relative; /* permet de positionner la checkbox cachée */
    display: none;
}

[type="checkbox"]#player4:not(:checked), 
[type="checkbox"]#player4:checked {
	/* Cache la checkbox sans
	   la désactiver pour les
	   lecteurs d'écran */
	position: absolute;
	left: 0;
	opacity: 0.0;
}

/* on prépare le label */
[type="checkbox"]#player4:not(:checked) + label,
[type="checkbox"]#player4:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	font-size: 1.05em; /* Label un peu plus gros */
    cursor: pointer;    /* affiche un curseur adapté */

}

/* Aspect de la case */
[type="checkbox"]#player4:not(:checked) + label:before,
[type="checkbox"]#player4:checked + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15em;
	height: 22em;
    background-image: url('back-3.png');
    background-size: cover;
	border-radius: .2em;
    transition: all .275s;
    color: red;
}




/* Aspect de la coche */
[type="checkbox"]#player4:not(:checked) + label:after,
[type="checkbox"]#player4:checked + label:after {
	content: '✕';
	position: absolute;
	top:5em;
	left: 1.6em;
	font-size: 4em;
	color: #181bc691;
	line-height: 0;
    z-index:3;
   
}


/* Aspect de la coche: hover */
[type="checkbox"]#player4:not(:checked) + label:after,
[type="checkbox"]#player4:checked + label:after {
	content: '✕';
	position: absolute;
	top: 5em;
	left: 1.5em;
	font-size: 4em;
	color: #C630A5;
	line-height: 0;
    z-index:3;
   
}

/* Aspect non cochée */
[type="checkbox"]#player4:not(:checked) + label:after {
    content: 'CHOISIR';
    color: rgba(198, 48, 165, 0.555);
    font-size: 1.3em;
    top: 15.4em;
    left: 3.7em;
    font-weight: bolder;

}

/* Aspect non cochée:hover */
[type="checkbox"]#player4:not(:checked) + label:hover:after {
    content: 'CHOISIR';
    color: #C630A5;
    font-size: 1.3em;
    top: 15.4em;
    left: 3.7em;
    font-weight: bolder;

}

/* Aspect cochée */
[type="checkbox"]#player4:checked + label:after {
	opacity: 1;
    color: rgba(198, 48, 165, 0.63);  
    
}

/* Aspect cochée:hover */
[type="checkbox"]#player4:checked + label:hover:after {
	opacity: 1;
    color: #C630A5;  
    
}



/* Disabled checkbox */
[type="checkbox"]#player4:disabled:not(:checked) + label:before,
[type="checkbox"]#player4:disabled:checked + label:before {
    box-shadow: none;
    transform:  rotate(0);
}




/* Accessibility focus */
[type="checkbox"]#player4:checked + label:before {
    box-shadow: inset 0 10px 10px rgba(0,0,0, .2), 0 0 0 12px #C630A5;
}