
.containerPion {
    width:100%;
    height: 82vh;
    margin-top:1vh;

}


.containerTopPion {
    display:flex;
    width: 100%;
    height:41vh;
}

.containerBottomPion {
    display:flex;
    width: 100%;
    height:41vh;

}
.zonePion1 {
    height:45vh;
    width:43%;


}

.zonePion2 {
    height:35vh;
    width:57%;

}

.zonePion3 {
    height:35vh;
    width:55%;
    margin-top:5vh;

}

.zonePion4 {
    height:45vh;
    width:43%;
    margin-top:-6vh;


}

.containerPion1 {
    width:11%;
    margin-left:0%;
    margin-top:-5%;

}

.picturePion1{
    width:80%;
}

.container2Pion2 {
    width:23%;
    display:flex;
    border-style: solid;
    margin-left:89.5%;
    border:none;
    margin-top:-9%;

}

.picturePion2{
    width:40%;
    transform: rotate(90deg);



}


.containerPion3 {
    width:40%;
    margin-top:26.7vh;
    margin-left:-2%;

}

.picturePion3{
    width:40%;
    transform: rotate(-90deg);
}

.containerPion4 {
    width:40%;
    display:flex;
    border-style: solid;
    margin-left:88%;
    border:none;
    margin-top:38vh;

}

.picturePion4{
    width:50%;
    transform: rotate(180deg);

}