.playerOne{
    background-color: cyan;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerTwo{
    background-color: magenta;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerThree{
    background-color:yellow;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerFour{
    background-color: black;
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}