.characterNameA{
    font-size: 1.8em;
}

.characterPictureA {
 
    margin-top:-7%;
}

.imgPictureA {
    height: 10em;
}

.characterDescriptionA{
    font-size:1.1em;
    margin-top:-4%;
  
}

.DisplayJoueurA {
    margin-top: -4%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: center;
    width: 10.5em;
    margin-left: 1.7em;
}