.characterNameA{
    font-size: 1.8em;
}

.characterPictureA {
    border: yellow;
    border-style: dotted;
    margin-top:-7%;
}

.imgPictureA {
    height: 10em;
}

.characterDescriptionA{
    font-size:1.1em;
    margin-top: 0.5em;
}