
.selectJoueurD{
    width: 13em;
    text-align: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    color: #C630A5;
}

.descriptionJoueurD{
    position: absolute;
    z-index:1;
    justify-content: center;
    width: 14.6em;
}

.arrowSelectJoueurD {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    position: relative;
    margin-left: 9%;

   
}

.randomSelectCTAD, .randomSelectCTAD2 {

    border-radius: 50%;
    height: 30px;
    width: 30px;
    border-width: 0.2em;
    border-color: rgba(198, 48, 165, 0.521);
    color:rgba(198, 48, 165, 0.384);
    font-size:1em;
    font-weight: bolder;
    background: none;
}

.randomSelectCTAD {
    margin-left:5%;
}

.randomSelectCTAD2 {
    margin-right:7%;
}


.randomSelectCTAD:hover, .randomSelectCTAD2:hover {

    border-radius: 50%;
    height: 30px;
    width: 30px;
    border-width: 0.2em;
    border-color: #C630A5;
    color:#C630A5;
    font-size:1em;
    font-weight: bolder;
    background: none;
}

form p {
    position: relative; /* permet de positionner la checkbox cachée */
    display: none;
}

[type="checkbox"]#joueurD:not(:checked), 
[type="checkbox"]#joueurD:checked {
	/* Cache la checkbox sans
	   la désactiver pour les
	   lecteurs d'écran */
	position: absolute;
	left: 0;
	opacity: 0.0;
}

/* on prépare le label */
[type="checkbox"]#joueurD:not(:checked) + label,
[type="checkbox"]#joueurD:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	padding-left: 2.3em; /* fait un peu d'espace pour notre case à venir */
	font-size: 1.05em; /* Label un peu plus gros */
	line-height: 1.7;
    cursor: pointer;    /* affiche un curseur adapté */
    margin-left:77.5%;
}

/* Aspect de la case */
[type="checkbox"]#joueurD:not(:checked) + label:before,
[type="checkbox"]#joueurD:checked + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 14em;
	height: 22em;

    background-image: url('back-3.png');
    background-size: cover;
	border-radius: .2em;
	margin-top: -5em;
    transition: all .275s;
    color: red;
}




/* Aspect de la coche */
[type="checkbox"]#joueurD:not(:checked) + label:after,
[type="checkbox"]#joueurD:checked + label:after {
	content: '✕';
	position: absolute;
	top: 4.6em;
	left: 1.8em;
	font-size: 4em;
	color: #181bc691;
	line-height: 0;
    z-index:3;
   
}


/* Aspect de la coche: hover */
[type="checkbox"]#joueurD:not(:checked) + label:after,
[type="checkbox"]#joueurD:checked + label:after {
	content: '✕';
	position: absolute;
	top: 3.65em;
	left: 1.4em;
	font-size: 4em;
	color: #C630A5;
	line-height: 0;
    z-index:3;
   
}

/* Aspect non cochée */
[type="checkbox"]#joueurD:not(:checked) + label:after {
    content: 'CHOISIR';
    color: rgba(198, 48, 165, 0.555);
    font-size: 1.3em;
    top: 11.3em;
    left: 3.3em;
    font-weight: bolder;

}

/* Aspect non cochée:hover */
[type="checkbox"]#joueurD:not(:checked) + label:hover:after {
    content: 'CHOISIR';
    color: #C630A5;
    font-size: 1.3em;
    top: 11.3em;
    left: 3.3em;
    font-weight: bolder;

}

/* Aspect cochée */
[type="checkbox"]#joueurD:checked + label:after {
	opacity: 1;
    color: rgba(198, 48, 165, 0.63);  
    
}

/* Aspect cochée:hover */
[type="checkbox"]#joueurD:checked + label:hover:after {
	opacity: 1;
    color: #C630A5;  
    
}



/* Disabled checkbox */
[type="checkbox"]#joueurD:disabled:not(:checked) + label:before,
[type="checkbox"]#joueurD:disabled:checked + label:before {
    box-shadow: none;
    transform:  rotate(0);
}




/* Accessibility focus */
[type="checkbox"]#joueurD:checked + label:before {
    box-shadow: inset 0 10px 10px rgba(0,0,0, .2), 0 0 0 12px #C630A5;
}