.container{
    width: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.video{
    color: black;
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: aqua;
    align-self: center;
    align-items: center;
}
/* Código para leyenda tipo Invisionfree por Jackin. Door Slide. */

/* Contenedor básico. */
.jcontentle {
	background-image: url(/static/media/body-background.b6762e1c.jpg);
	background-repeat: no-repeat;
	background-size: auto 100vh;
	border-radius: 0.1em;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-wrap: wrap;
	/* flex-flow: column; */
	width: max-content;
	height: 100vh;
	min-width: 100%;
	min-height: 100%;
	/* box-sizing: content-box; */
	/* position: absolute; */
	background-position: center;
	border: solid;
}
/* Crédito. No tocar. */
 .jcredit {
    float: right;
    width: auto;
    /* border: solid red; */
    font-size: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    bottom: -10px;
    right: -5px;
}
/* Cuadrados básicos */
 .jalterre {
    
    width: auto;
    min-width: 100%;
    text-decoration: none;
    position:absolute;
    color: white;
    text-indent: 2px;
    z-index:2;
}
/* .jalterre:nth-last-child(2) {
    margin-right: 0px;
} */
/* Grupos invisibles. */
 .jalterre::before, .jalterre::after {
    position: absolute;
    width: 100%;
    height: 50%;
    -webkit-transition: all 2s;
    transition: all 2s;
    top: 0%;
    left: 0%;
    content:"";
    z-index:3;
}
.jalterre::after {
    top: 50%;
}
/* Grupos visibles. */
.jalterre:hover:before {
    top: -50%;
}
.jalterre:hover::after {
    top: 100%;
}
/* Cuadrado 1 */
#jalter1 {
   margin-top:-1%;
	display: flex;
	justify-content: center;
	/* border: solid red; */
	
}

#jalter1::before {
  
    background: url(../image/haut4.jpg);
    background-size:  100vw 50vh;
    background-repeat: no-repeat;
    margin-left:-0.5%;

    /* display: none; */
}
#jalter1::after {
    background-color: #0C2F4A;
    background: url(../image/bas42.jpg);
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    margin-left:-0.5%;

    /* display: none; */
}
/* Cuadrado 2 */
 #jalter2::before, #jalter2::after {
    background-color: #2A5576;
 }

 .video {
	min-width: auto;
	border: solid red;
	padding: 0;
}

a{
    border: solid;
}

.bg {
    display: flex;
    justify-content: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    min-height: 100%;
    align-items: center;
}