.board{
    width: calc((50px + 5px + 5px) * 13);
    max-height: calc((64px + 5px + 5px)* 13);
    height: calc( 81px*9);
    background-color: grey;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.side-content{
    border: solid black;
    width: 10%;
    height: 820px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    flex-wrap: wrap;
}
