.containerGlobal {
    display:flex;
    width:100%;
    margin-left:-36%;
    margin-top:-15vh;
    height: 100vh;
    position: absolute;
    z-index: -1;
}


.introJoueur{
    margin-top:25vh;
    width:60%;
    text-align:center;
    margin-left:-16%;
    position: absolute;
    color:rgb(34, 218, 61);
    font-size: 2vw;

}

.solutions-enigme {
    color: whitesmoke;
    width: 62vw;
    display: flex;
    height: 33vh;
    margin-left:22%;
    margin-top:20vh;
    border-color:yellow;
    border-style:solid;
}

ul {
    list-style: none;
  }

.btn-enigme {
    margin-left: 50vw;
}

.enigmeContent2 {
    margin-left: -90vw;
    margin-top: 80px;
    width: 100vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    color:rgb(34, 218, 61);
}


.showSolution {
    margin-bottom:3%;
    height:50vh;
    width:20vw;
}
.questionContent{
    border-color:red;
    border-style:solid;
    height:50px;
    width:20vw;
}
.diceContainer {

    margin-left:420%;
    width:100%;
    margin-top:20%;

}

.leftSideContainer{

    margin-top:8vh;
    margin-top:8vh;
}


