.containerGlobal {
    display:flex;
    border-color: rgb(43, 255, 0);
    border-style:solid;
    width:1180px;
    margin-left:-115%;
    margin-top:-165px;
    height: 100vh;
    position: absolute

}


.introJoueur{
    margin-top:25vh;
    width:20%;
    text-align:center;
    margin-left:4.5%;
    position: absolute;
    color:rgb(34, 218, 61);
    font-size: 2vw;

}

.solutions-enigme {
    color: whitesmoke;
    width: 62vw;
    display: flex;
    height: 33vh;
    margin-left:21.5%;
    margin-top:20vh;
    border-color: rgba(0, 128, 0, 0);
    border-style:solid;
    width:30vw;


}

ul {
    list-style: none;
  }

.btn-enigme{
    margin-left: 600px;
    margin-top: 150px;
    font-size: 1vw;
    font-weight: bold;
    background-image: url('roll-dice-button.png');
    border-radius: 5px;
    width: 300px;
    
}

.btn-enigme:disabled {
    margin-left: 600px;
    margin-top: 150px;
    font-size: 1vw;
    font-weight: bold;
    background-image: url('roll-dice-button.png');
    border-radius: 5px;
    width: 300px;
    
}

.enigmeContent2 {
    margin-left: -190%;
    margin-top: 15vh;
    width: 100vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    color:rgb(34, 218, 61);

}

.enigme {
    border-color:rgba(255, 255, 0, 0);
    border-style:solid;
    z-index:2;
}

.questionContent{
    border-color:rgba(255, 192, 203, 0);
    border-style:solid;
    height:fit-content;
    width:20vw;
    height: 10vh;
    margin-top:-3vh;
}

.showSolution {

    height:50vh;
    width:20vw;
    border-color:rgba(128, 0, 128, 0);
    border-style:solid;
    z-index: 2
}


.diceContainer {
    border-color:rgba(255, 0, 0, 0);
    border-style:solid;
    margin-left:220%;
    width:100%;
    margin-top:-27vh;

}

.timerContainer{
    margin-top:-8.9vh;
    border-color: rgba(255, 166, 0, 0);
    border-style: solid;
    margin-left:-22.5%;
}

.timesUp {
    position:absolute;
    z-index:4;
    border-color: rgba(255, 166, 0, 0.831);
    border-style: solid;
    width:87%;
    height: 48vh;
    border-radius: 100%;

}

.text1TimesUp {
    margin-top:17vh;
    margin-left:32%;
    font-size: 2.5vw;
    color: red;
}

.text2TimesUp {
    margin-left:22%;
    font-size: 2.5vw;
    color:red;
}


.displayPionsContainer2 {
    margin-left:-43%;
    width: 48.5%;
    height: 82vh;
    margin-top:6.5vh;
}


.allanIntro {
    color: #c65e18;
    font-weight: bold;
    animation: allanIntro  ease-in-out 3s forwards;
  
}

@keyframes allanIntro {
    0%   { margin-left: 5%; opacity:0.2; transform: rotate(-90deg)}
    100% { margin-left: 5%;opacity:1;transform: rotate(0deg) }
  
    }


.judithIntro {
    color: #00B0F0;
    font-weight: bold;
}

.wrongAnswer {
    color: red;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top:-7%;
    margin-left:50px;
    opacity:1;
    animation: transitionWrongAnswer  ease-in-out 6s forwards;
}

.nextPlayerAllan {
    color: #c65e18;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top:-50%;
    opacity:0;
    animation: transitionNextPlayer  ease-in-out 6s forwards;
}

.nextPlayerJudith {
    color: #00B0F0;
    font-weight: bold;
    opacity:0;
    margin-top:-50%;
    width:100%;
    animation: transitionNextPlayer  ease-in-out 6s forwards;
}

@keyframes transitionWrongAnswer {
    0%   { margin-left:50px; opacity:1; transform: rotate(-90deg)}
    50%   { margin-left:50px; opacity:1; transform: rotate(0deg)}
    100% { margin-left:50px; opacity:0;transform: rotate(0deg) }
  
    }

@keyframes transitionNextPlayer {
    0%   { opacity:0; transform: rotate(-90deg)}
    50%   { opacity:0; transform: rotate(-45deg)}
    100% { margin-left: 35px;opacity:1;transform: rotate(0deg) }
  
    } 


.squareT1AllanActive {  
    width: 65px;
    height: 65px;
    margin-left:-10%;
     /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards ;

    
}
    

.squareT12AllanActive {
    width: 65px;
    height: 65px;
    margin-left:-10%;
    /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards;
   
}
.squareT23AllanActive {
    width: 65px;
    height: 65px;
    margin-left:-10%;
    /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards;
  
}

.squareL1AllanActive {
    width: 65px;
    height: 65px;
    margin-left:-10%;
    /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards;
   
}

.squareL4AllanActive {
    width: 65px;
    height: 65px;
    margin-left:-10%;
    /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards;
 
}
.squareL5AllanActive {
    width: 46px;
    height: 67px;
    margin-left:-6px;
     /*background-color:  #97450aa3;*/
    animation : pathAllan ease-in 6s forwards;
 
   
}

.squareT9JudithActive {
    width: 65px;
    height: 67px;
    animation : pathJudith ease-in 6s forwards;
    /*background-color: rgba(12, 77, 103, 0.722);*/
  
}
.squareT8JudithActive {
    width: 65px;
    height: 67px;
    animation : pathJudith  ease-in 6s forwards;
   /*background-color: rgba(12, 77, 103, 0.722);*/
   
}
.squareT7JudithActive {
    width: 65px;
    height: 67px;
    animation : pathJudith ease-in 6s forwards;
    /*background-color: rgba(12, 77, 103, 0.722);*/

}
.squareT6JudithActive {
    width: 65px;
    height: 67px;
    animation : pathJudith ease-in 6s forwards;
     /*background-color: rgba(12, 77, 103, 0.722);*/

}
.squareT5JudithActive {
    width: 65px;
    height: 67px;
    animation : pathJudith ease-in 6s forwards;
    /*background-color: rgba(12, 77, 103, 0.722);*/
 
}


  
.squareT16JudithActive {
    width: 65px;
    height: 38px;
    margin-left:-6.5%;
    animation : pathJudith ease-in 6s forwards;
    /*background-color: rgba(12, 77, 103, 0.722);*/
  
 
}

@keyframes pathJudith {
    0%   { opacity:0;   box-shadow: 0 0px 0px #00B0F0, 0 0px 0px #00B0F0; }
    100% { opacity:1;  box-shadow: inset 0 0 1.5em goldenrod, 0 0 2em red }
  }

  


  @keyframes pathAllan {
    0%   { opacity:0;   box-shadow: 0 0px 0px #00B0F0, 0 0px 0px #00B0F0; }
    100% { opacity:1;  box-shadow: inset 0 0 2em goldenrod, 0 0 2em red }
  }








.coloredPath {
    display: flex;
    justify-content: space-between;
    width:585px;
    height: 585px;
    margin-left:-8px;
    margin-top:11px;
}

.pathAllan {
    display: flex;
    margin-top:3px;
    margin-left:6.5%;
}

.toRightPathAllan{
    margin-top:260px;
}

.pathJudith {
  margin-top:3px;
  margin-right:-45px;
 
}


@keyframes animate-drum {
    0% {
      box-shadow: 0 0px 0px #77e736, 0 0px 0px #77e736;
    }
    25% {
      box-shadow: 0 0px 5px #77e736, 0 0px 0px #77e736;
    }
    50% {
      box-shadow: 0 0px 5px #77e736, 0 0px 0px #77e736;
    }
    70% {
      box-shadow: 0 0px 0px #77e736, 0 0px 5px #77e736;
    }
    100% {
      box-shadow: 0 0px 5px #77e736, 0 0px px #77e736;
    }
  }

.straightPathJudith{
    margin-left:-4%;
    display:flex;
}
.toLeftPathJudith{
margin-right:120px;
}

.displayPion3{
    margin-top:-620px;
    margin-left:30px;
}

.containerIntroAllan {
    margin-left:10%;
    width:100%;
}

.allanBravo {
    color: #c65e18;
    font-weight: bold;
    margin-left: 20%;
    opacity:1;
    animation: AllanBravo   ease-in-out 4s forwards;
}


@keyframes AllanBravo {
    0%   { opacity:1; transform: rotate(-90deg)}
    50%   { opacity:1; transform: rotate(0deg)}
    100% { margin-left:20%; opacity:0;transform: rotate(0deg) }
  
    }

.nextPlayerJudithBravo{
    color: #00B0F0;
    font-weight: bold;
    opacity:0;
    margin-top:-20%;
    width:100%;
    margin-left: 10%;
    animation: transitionNextPlayerJudithBravo 3s ease-in-out 3s forwards;
}

@keyframes transitionNextPlayerJudithBravo {
    0%   { opacity:0; transform: rotate(-90deg)}
    100% { margin-left: 10%;opacity:1;transform: rotate(0deg) }
  
    } 


.judithBravo {
    color: #00B0F0;
    font-weight: bold;
    margin-left: 20%;
    opacity:1;
    animation: JudithBravo  ease-in-out 4s forwards;
}


@keyframes JudithBravo {
    0%   { opacity:1; transform: rotate(-90deg)}
    50%   { opacity:1; transform: rotate(0deg)}
    100% { margin-left:20%; opacity:0;transform: rotate(0deg) }
  
    }

.nextPlayerAllanBravo{
    color: #c65e18;
    font-weight: bold;
    opacity:0;
    margin-top:-20%;
    width:100%;
    margin-left: 10%;
    animation: transitionNextPlayerAllanBravo 3s ease-in-out 3s forwards;
}

@keyframes transitionNextPlayerAllanBravo {
    0%   { opacity:0; transform: rotate(-90deg)}
    100% { margin-left: 10%;opacity:1;transform: rotate(0deg) }
  
    } 


    .tooLate {
        color: red;
        font-weight: bold;
        margin-bottom: 1px;
        margin-top:5%;
        margin-left:45px;
        opacity:1;
        animation: transitionWrongAnswerTooLate  ease-in-out 6s forwards;
    }
    
    .nextPlayerAllanTooLate {
        color: #c65e18;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top:-25%;
        margin-left:30px;
        opacity:0;
        animation: transitionNextPlayerTooLate  ease-in-out 6s forwards;
        width:100%;
    }
    
    .nextPlayerJudithTooLate {
        color: #00B0F0;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top:-25%;
        margin-left:30px;
        opacity:0;
        animation: transitionNextPlayerTooLate  ease-in-out 6s forwards;
        width:100%;
    }
    
    @keyframes transitionWrongAnswerTooLate {
        0%   { opacity:1; transform: rotate(-90deg)}
        50%   { opacity:1; transform: rotate(0deg)}
        100% { margin-left:45px; opacity:0;transform: rotate(0deg) }
      
        }
    
    @keyframes transitionNextPlayerTooLate {
        0%   { opacity:0; transform: rotate(-90deg)}
        50%   { opacity:0; transform: rotate(-45deg)}
        100% { margin-left: 30px;opacity:1;transform: rotate(0deg); width:100% }
      
        } 