.toEscape2 {
    color: #4fb4159e; 
    border: none;
    text-decoration: underline;
    text-decoration-color:#4fb4159e; 
    font-size: 20px;
    background-color:rgba(255, 0, 0, 0);
    margin-top:-8%;
    outline: none;
}

.toEscape2:hover {
    color: #4fb415; ; 
    border: none;
    text-decoration: underline;
    text-decoration-color:#4fb415; ; 
    font-size: 20px;
    background-color:rgba(255, 0, 0, 0);
    margin-top:-8%;
    cursor: pointer;
}

.containerPopUp{
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
