.bg {
    display: flex;
    justify-content: center;
    background-image: url('./body-background.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    min-height: 100%;
    align-items: center;
}
.movie {
    display: flex;
    justify-content: center;
    margin: auto;
}
.intro-ring {
    background-image: url('./ring.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    height: 800px;
    width: 800px;
    background-position: center;
    background-color: black;


}
.intro {
    width: 644px;
    height: 648px;
    border-radius: 50%;
      border: olivedrab;
      outline: none;
      text-decoration: none;
      cursor: pointer;
      opacity: 0;
      background-color: black;
      /* background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(30, 230, 30)37%, rgb(17, 20, 19) 69%); */
      transition: all 800ms ease-in;
      background-image: radial-gradient(circle, rgb(47, 117, 70) 35%, rgb(63, 240, 18)17%, rgb(0, 0, 0) 60%);
}
.intro:hover {
    opacity: 1;
    /* background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(17, 173, 17)37%, rgb(17, 20, 19) 69%); */
    
}


.button-play {
    align-items: center;
    margin-top: 8px;
    font-size: 36px;
    background-color: black;
    border-radius: 8px;
    color: rgb(12, 92, 12);
}
.button-play:hover {
    color: black;
    background-color: rgb(12, 92, 12);
    cursor: pointer;
    border: 8px;
    transition: all 450ms;
}
