

.board{
    width: calc((50px + 5px + 5px) * 13);
    max-height: calc((64px + 5px + 5px)* 13);
    height: calc( 81px*9);
    background-color: grey;
    padding: 5px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.enigma{
    align-self: stretch;
    background-color: rgb(38, 180, 61);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 255px;
    height: 255px;
    border: solid rgb(36, 15, 131) 1px;
    position: absolute;
    left: 600px;
}

.handler{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.handler-board{
    background-color: darkmagenta;
    border: solid;
    height: 820px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    width: 128px;
    height: 128px;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test2{
    color: brown;
}

