.bigSquare{
    width: 256px;
    height: 266px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    border: solid blue;

}
.bigSquare:nth-of-type(5){
    align-self: stretch;
    background-color: rgb(218, 130, 15);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29vw;
    height: 30vw;
    /* display: none; */
    border: solid rgb(36, 15, 131) 1px;
    align-self: center;

}

.smallSquare{
    background-color: whitesmoke;
    width: 64vw;
    height: 64vw;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;
    margin-left: 50%;
}

.board{
    width: calc((50px + 5px + 5px) * 13);
    max-height: calc((64px + 5px + 5px)* 13);
    height: calc( 81px*9);
    background-color: none;
    padding: 5px;
    position: relative;
    margin-left: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.enigma{
    align-self: stretch;
    background-color: rgb(38, 180, 61);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 255px;
    height: 255px;
    border: solid rgb(36, 15, 131) 1px;
    position: absolute;
    left: 600px;
}

.handler{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.test{
    flex-grow: 2;
    flex-shrink: 2;
    background-color: teal;
}

.side-content{

    width: 10%;
    height: 820px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    flex-wrap: wrap;
}

.handler-board{
    background-color: none;
    height: 820px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:none;

}

.player{
    width: 128px;
    height: 128px;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test2{
    color: brown;
}

.playerOne{
    background-color: cyan;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerTwo{
    background-color: magenta;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerThree{
    background-color:yellow;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}
.playerFour{
    background-color: black;
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 0.3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    font-size: smaller;
    text-align: center;

}