/* Jumanji Box  */
.a {
  color: #4fb415;
  border: none;
}
.JumanjiBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 225px;
}

.JumanjiLoader {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  width:190px;
  height:190px;
  margin-top: -170px;
  transition: 1s;
}

.JumanjiLoader:hover {
  box-shadow: 5px 5px 25px 30px #77e736;
  transition: 1s;
}

.Ring {
  outline: none;
  border: 2px;
  width: 100%;
  height: 83%;
  border-radius: 50%;
  border-left:2px solid #f8f526;
  border-right:2px solid#4fb415;
  animation: animate-border 10s linear infinite;
  background-color:#071a0dd1;
}

.JumanjiMessageWin,
.JumanjiMessageLost {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  font-family: 'Righteous', cursive;
  font-size: large;
  color: #4fb415;
}

.JumanjiMessageWin:hover,
.JumanjiMessageLost:hover {
  border-radius: 100%;
  transition: 300;
  cursor: pointer;
}

.JumanjiMessageWin:hover {
    color: #4fb415;
    /* transition: 2s; */
  }

.JumanjiMessageLost:hover {
    color: #4fb415;
    /* transition: 2s; */
  }



  /* Jumanji Border animation */

@keyframes animate-border
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}