.game-board{
    display: grid;
    width: 550px;
    height: 550px;
    margin: auto;
    border: dotted deeppink;
}

.TileNeutral {
    background: linear-gradient(to right, #F6E3D1, #E4D0AB);
    border: 1px solid #e4d0ab;
}

.TilePathPlayer1 {
    border: 1px solid #ffc65e;
    background-image: linear-gradient(to right, #ffc65e, #f4661b);
    animation: gradient-animated 3s infinite;
    background-size: 400%;
  }

  .SquarePathPlayer2 {
    background-image: linear-gradient(to right, #9999ff, #6565e5);
    border: 1px solid #9999ff;
      animation: gradient-animated 2s infinite;
    background-size: 400%;
  }

  @keyframes gradient-animated{
    0%{
      background-position: 4% 0%;
    }
    50%{
      background-position: 97% 100%;
    }
    100%{
      background-position: 4% 0%;
    }
  }