.characterNameB{
    font-size: 1.8em;
}

.characterDescriptionB{
    font-size:1.1em;
    margin-top: 1em;
}

.DisplayJoueurB {
    margin-top: -4%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: center;
    width: 11em;
    margin-left: 1em;
}